
#container {
  height: 110px;
  width: 400px;
  border: 5px solid black;
}
#box1 {
  height: 100px;
  width: 100px;
  background-color: indianred;
  margin: 4px;
  float: right;
}
#box2 {
  height: 100px;
  width: 100px;
  background-color: indianred;
  margin: 4px;
  float: left;
}
