* {
  font-family: 'Times New Roman', Times, serif;
}
#heading {
  text-align: center;
  text-transform: capitalize;
}
#outer {
  height: 100px;
  width: 100px;
  background-color: rgb(50, 82, 82);
  font-size: 25px;
}
#inner {
  
  height: 50px;
  width: 50px;
  background-color: blanchedalmond;
  font-size: 10px;
}