#div{
  height: 200px;
  width: 200px;
  background-color: darkkhaki;
  text-align: center;
}
#butt {
  padding: 10px 15px 10px 15px;
  margin: 5px 5px 5px 5px;
  border: 2px dashed black;
  border-radius: 28px;
  background-color: aquamarine;
}
#Box1 {
  height: 70px;
  width: 70px;
  background-color: lightcoral;
  box-sizing: border-box;
  padding: 5px;
  border: 2px dashed black;
}
#Box2 {
  height: 70px;
  width: 70px;
  background-color: khaki;
  border: 2px dashed black;
  padding: 5px;
  box-sizing: content-box;
}